.header {
  background-image: url(../images/hero.jpg);
  height: 30vh;
  background-repeat: no-repeat;
background-position: 0px -10px;
background-size: 100vw;
position: relative;
opacity: 90%;


  @media (min-width: 768px) {
    
   height: 50vh; 

  }
  @media (min-width: 1000px) {
    
    height: 100vh; 
 
   }
}




